<% layout('layouts/boilerplate') -%>
<h1><%= camp.title %></h1>
<ul>
  <li>
    <p><%= camp.location %></p>
    <p>$<%= camp.price %>/night</p>
    <p><%= camp.description %></p>
  </li>
</ul>
<p>
  <a href="/campgrounds/<%= camp._id %>/edit">Edit campground</a>
</p>
<form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="post">
  <button>Delete</button>
</form>
<p>
  <a href="/campgrounds">Back to campgrounds</a>
</p>